.header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color:#3949AB;

    .header__content {
        padding-top: 10px;
        padding-bottom: 100px;

        .header__h1 {
            font-size: 18px;
            color: #FDD835;
            font-family: 'RVMontserrat';
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 24px;
        }

        .header__h2 {
            margin: 24px 0 36px 0;
            font-family: 'RVMontserrat';
            font-weight: 700;
            font-size: 54px;
            line-height: 56px;
            color: #fff;
        }

        .header__text {
            color: #fff;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 24px;
            font-size: 16px;
            opacity: 0.8;
        }
    }

    .header__nav {
        width: 100%;
        top: 0;
    
        .header__nav__ul {
            display: flex;
            overflow: hidden;
            padding: 5px 27px 20px 38px;

            .header__nav__li {
                display: inline;
                text-align: center;
                text-decoration: none;
                font-family: 'RVMontserrat', sans-serif;
                font-weight: 300;
                letter-spacing: 0.86px;
                text-transform: uppercase;
                color: #fff;
                padding: 24px 26px 0 20px;
                font-size: 12px;
                line-height: 24px;
        
                &:first-child {
                    margin-right: auto;
                    padding-left: 0;
                    padding-top: 12px;
                    height: 37px;
                }

                &:last-child {
                    padding: 10px 0 0 15px;

                    .hamburger {
                        width: 55px;
                    }
                }
            }

        }
    }
}